
:root {
    --bg-main-color: #fdfbf5;
    --bg-footer-color: #ececec;
    --theme-color-1: #00ADB5;
    --theme-color-2: #daa520;
    --border-color: #393E46;
    --text-color: #191919;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: "Sen", "Rubik", sans-serif;
    background-color: var(--bg-main-color);
    color: var(--text-color);
}

main {
    position: relative;
}

a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

ul, li {
    list-style: none;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
    z-index: 0 !important;
}

.is-active-page {
    z-index: 90;
    position: relative;
}

.hide-on-pc {
    display: none;
}

/* HEADER */
header {
    z-index: 101;
    position: sticky;
    top: 0;
    left: 0;
}

#header.container {
    height: 3rem;
    display: flex;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-main-color);
}

#header .menu-list {
    display: flex;
    justify-content: center;
}

.header-logo {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

.header-container-left {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-family: "Audiowide";
}

.header-container-mid {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.header-container-mid li {
    transition: all 0.25s ease-in-out;
}

.header-container-mid li a {
    display: inline-block;
    transition: all 0.25s ease-in-out;
}

.header-container-mid li a:hover {
    color: var(--theme-color-2);
    transform: scale(1.1);
}

.header-container-mid .menu-list li {
    padding-left: 1rem;
}

.header-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-container-right .menu-list li {
    padding: 0 1rem;
    cursor: pointer;
}

.header-container-right .menu-list li:nth-child(2) {
    position: relative;
}

.header-container-right .menu-list li:nth-child(2):hover .container.account-dropdown {
    display: flex;
    opacity: 1;
    visibility: visible;
    top: 1.25rem;
    transition: all 0.25s ease-in-out;
}

.container.hamburger-menu-button {
    display: none;
}

/* ACCOUNT DROPDOWN */
.header-container-right .container.account-dropdown {
    z-index: 99;
    position: absolute;
    transform: translate(-75%);
    top: 3rem;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: var(--bg-main-color);
    outline: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

.header-container-right .container.account-dropdown:hover {
    display: flex;
}

.container.account-dropdown .menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    text-wrap: nowrap;
}

.container.account-dropdown .menu-list li {
    width: fit-content;
}

.container.account-dropdown .menu-list li a {
    display: flex;
    column-gap: 1rem;
}

.container.account-dropdown .menu-list li a i {
    width: 1rem;
}

.header-container-right .container.account-dropdown .menu-list li a span {
    transition: all 0.25s ease-in-out;
}

.header-container-right .container.account-dropdown .menu-list li a span:hover {
    transform: scale(1.1);
    color: var(--theme-color-2);
}


/* SIDEBAR */
#header-sidebar.container.sidebar {
    position: fixed;
    top: 3rem;
    left: 100%;
    width: 100%;
    height: calc(100vh - 3rem);
    overflow-y: scroll;
    background-color: var(--bg-main-color);
    padding: 1rem;
    align-items: flex-start;
    font-weight: bold;
    row-gap: 1rem;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#header-sidebar.container.sidebar .menu-list {
    flex-direction: column;
    row-gap: 1rem;
    font-size: 1.5rem;
}

/* SIDEBAR ACCOUNT DROPDOWN */
#header-sidebar .container.account-dropdown {
    padding: 1rem 0 0 2rem;
    font-weight: normal;
}

/* SEARCH-ENGINE */
#search-engine.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

#search-engine.container .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-engine.container .form-input-bar {
    width: 100%;
}

/* LOGIN & SIGN-UP */
#login-user.container {
    z-index: 101;
    position: fixed;
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    backdrop-filter: blur(0.8px);
    background: rgba(0, 0, 0, 0.25);
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 1rem 1rem 1rem;
    row-gap: 2rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-main-color);
}

.form-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.main-login-header {
    font-size: 2rem;
}

.main-login-body {
    width: 75%;
}

.main-login-body .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.main-login-body .login-form .form-input-bar {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
    transition: all 0.25s ease-in-out;
}

.main-login-body .login-form .form-input-bar:active {
    border-bottom: 1px solid var(--theme-color-2);
}

.main-login-body .login-form button {
    width: 100px;
    font-size: 1.25rem;
    font-style: italic;
    background-color: var(--theme-color-2);
    color: var(--bg-main-color);
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
}

.main-login-footer {
    text-align: center;
}

.main-login-footer a {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.main-login-footer a:hover {
    transform: scale(1.1);
    color: var(--theme-color-2);
    font-weight: bold;
}

/* SIGN-UP */
#signup-user.container {
    z-index: 101;
    position: fixed;
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    backdrop-filter: blur(0.8px);
    background: rgba(0, 0, 0, 0.25);
}

/* ACCOUNT-USER */
#account-user.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

#account-user.container .main-account {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.main-account-header {
    font-size: 1.5rem;
    padding: 1rem;
}

.main-account-body {
    display: flex;
    flex-wrap: wrap;
}

.main-account-body-col {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 50%;
}

.main-account-body-col h4 {
    font-size: 1.25rem;
    padding-left: 1rem;
}

.main-account-body-col .form-group:last-child button {
    display: flex;
    justify-content: center;
    column-gap: 0.25rem;
    width: 175px;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--theme-color-2);
    font-weight: bold;
    color: whitesmoke;
}

.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem;
}

.form-input-bar {
    width: 300px;
    height: 2rem;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: transparent;
    padding: 1rem;
    transition: all 0.25s ease-in-out;
}

.form-input-bar:focus {
    outline: none;
    width: 100%;
    border-color: var(--theme-color-2);
    border-width: 0.25rem;
}

/* CATALOGUE */
.catalogue-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
}

.catalogue-name {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 95%;
    border-bottom: 1px solid #191919;
    margin-bottom: 20px;
}

.search-bar i {
    margin-right: 10px;
    color: #555;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    background-color: #fdfbf5;
}

.search-bar input::placeholder {
    color: #888;
}

.catalogue-info {
    display: flex; /* Flexbox to align ULs and line */
    align-items: center;
    justify-content: space-between; /* Place ULs at opposite ends */
    padding: 0.5rem 0;
    position: relative;
    border-bottom: 1px solid black;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

ul.products-amount {
    font-weight: lighter;
    text-align: left; 
    font-size: smaller;
}

ul.products-amount p {
    margin-left: 45px;
}

ul.filter {
    font-size: smaller;
    font-weight: lighter;
    text-align: right;
    position: relative;
}

ul.filter :hover {
    cursor: pointer;
}

ul.dropdown {
    display: none;
    position: absolute;
    top: 125%;
    right: 0%; 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 100;
    width: 200px;
}

ul.dropdown li {
    display: flex;
    padding: 8px 16px;
    cursor: pointer;
    align-items: flex-start;
}

ul.dropdown li:hover {
    background-color: #f0f0f0; 
}

.dropdown-toggle {
    display: none;
}

.dropdown-toggle:checked ~ .dropdown {
    display: block;
}

.main-container{
    position: relative;
    display: flex;
    width: 100%;
}


.details-search {
    flex: 0 0 30%;
    z-index: 100;
    position: sticky;
    top: 3rem;
    height: 20rem;
    left: 0;
    min-height: max-content;
}

.details-search ul {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    margin: 15px;
    font-size: x-large;
    font-weight: bold;

}

.dropdown {
    margin-bottom: 10px;
}
.dropdown-header li {
    font-weight: bold;
    cursor: pointer;
    list-style-type: none;
    padding: 8px;
    width: 100%;
}

/* Hide dropdown-menu by default */
.dropdown-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
    background-color: #fdfbf5;
}

.dropdown-menu li {
    padding: 8px;
    cursor: pointer;
    font-size: medium;
    font-weight: lighter;
}

.dropdown-menu li:hover {
    background-color: #ddd;
}

.shoes-box-container{
    flex: 0 0 70%;
    flex-direction: column;
}

/* PRODUCTS BOX */
.product-box-container {
    width: 100%;
    border: 1px solid black;
    border-top: none;
    background-color: #fdfbf5;
    text-align: left;
    display:flex;
    flex-wrap: wrap;
}

.product-box {
    width: 50%;
    background-color: var(--bg-main-color);
    padding: 20px;
    outline: 1px solid black;
}

.product-box-container :hover {
    cursor: pointer;
}

/* Image styling */
.product-box img {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 30px;
}

/* Name and price styling */
.product-box .shoes-name {
    font-size: x-large;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.product-box .shoes-price {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}

/* MODAL PRODUCT DETAILS */

.modal {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 16;
}

.modal.open {
    pointer-events: auto;
    opacity: 1;
}

.modal.open .modal-container{
    transform: scale(1);
}

.modal-close {
    background-color: rgb(0 0 0 / 40%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: var(--white);
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-close i {
    transition: all 0.4s;
}

.modal-close:hover i {
    transform: rotate(180deg)
}

.modal-container {
    background-color: var(--white);
    max-height: calc(100vh - 60px);
    box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-y: overlay;
    position: relative;
    transform: scale(0.8);
    transition: 0.3s ease;
}

.modal-body {
    padding: 15px 20px;
}

.product-detail .modal-container {
    width: 585px;
}

.product-image {
    width: 100%;
    object-fit: cover;
    max-height: 375px;
}

h2.product-title {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

}

.product-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.priceBox .current-price {
    color: var(--red);
    font-weight: 600;
    font-size: 17px;
}

.priceBox .old-price {
    text-decoration: line-through;
    color: #808080;
    font-size: 13px;
    margin-left: 5px;
}

.buttons_added {
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
}

.is-form {
    background-color: #f9f9f9;
    height: 25px;
    width: 25px;
    border: 1px solid #ddd;
    cursor: pointer;
    line-height: 20px;
}

.is-form:focus,.input-text:focus {
    outline: none;
}

.is-form.plus,.is-form.minus {
    border-radius: 50%;
}

.input-qty {
    background-color: #fff;
    height: 25px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 5px;
    outline: none;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    --webkit-appearance: none;
    margin: 0;
}

.modal-footer {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    background-color: var(--white);
    position: sticky;
    bottom: 0;
}

.price-total {
    display: flex;
    flex-direction: column;
}

.price-total .thanhtien {
    color: #808080;
    font-size: 13px;
}

.price-total .price {
    color: var(--red);
    font-weight: 600;
    font-size: 16px;
}

.modal-footer-control button {
    background-color: var(--red);
    border: none;
    outline: none;
    color: var(--white);
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
}

/* Container for size buttons */
.size-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between size buttons */
}

/* Styles for size buttons */
.size-button {
    width: 70px;
    padding: 8px 12px; /* Padding for size buttons */
    font-size: 14px; /* Font size for size buttons */
    font-weight: bold;
    border: 1px solid #333; /* Border for size buttons */
    background-color: var(--bg-main-color); /* Background color for size buttons */
    color: #333; /* Text color for size buttons */
    border-radius: 20px; /* Rounded corners for size buttons */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background transition */
}

.size-button:hover {
    background-color: #333; /* Change background on hover */
    color: #fff; /* Change text color on hover */
}

/* Page Nav  */

.page-nav {
    display: flex;
    outline: 1px solid black;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.page-nav-list {
    display: inline-flex;
    column-gap: 15px;
}

.page-nav-item a {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 29px;
    border-radius: 6px;
    font-size: medium;
}

.page-nav-item.active a,.page-nav-item a:hover {
    background-color: var(--theme-color-2);
    color: black;
    font-weight: bolder;
    border-color: var(--theme-color-2);
}

/* PRE-FOOTER */
#prefooter.container {
    display: flex;
    overflow-x: auto;
    column-gap: 1rem;
    padding: 1rem 1rem;
}

#prefooter.container .prefooter-div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    text-align: center;
    min-width: min-content;
}

#prefooter.container .prefooter-div i {
    font-size: 2rem;
}


/* FOOTER */
#footer.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--bg-footer-color);
    border-top: 0.5rem solid var(--theme-color-2);
    border-image: linear-gradient(to right, var(--theme-color-2), var(--theme-color-1)) 1;
}

.footer-title {
    width: fit-content;
    border-bottom: 0.5rem solid var(--theme-color-2);
    border-image: linear-gradient(to right, var(--theme-color-2), var(--bg-footer-color)) 1;
}

.footer-logo {
    font-family: "Audiowide";
    font-size: 12vw;
    text-wrap: nowrap;
    text-align: center;
    font-style: italic;
}

.footer-logo a {
    background: linear-gradient(to right, var(--theme-color-2), var(--theme-color-1));
    background-clip: text;
    color: transparent;
}

.footer-container-info {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-container-info .menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-container-info .menu-list li a:hover {
    outline: 1px solid var(--border-color);
    outline-offset: 0.25rem;
    border-radius: 1rem;
}

.footer-container-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-container-contacts .contact-div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.footer-container-contacts .contact-div .contact-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--bg-main-color);
    background-color: var(--theme-color-2);
    padding: 0.75rem;
    border-radius: 50%;
}

.footer-container-media .menu-list {
    display: flex;
    justify-content: flex-end;
    column-gap: 2rem;
}

.footer-container-media .menu-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}
