@media screen and (max-width: 768px) {

    .header-container-left {
        flex: 1;
    }

    .header-container-mid.hide-on-mobile{
        display: none;
    }

    .header-container-mid .menu-list.hide-on-mobile {
        display: none;
    }

    .container.hamburger-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        font-size: var(--text-size-large);
        border-left: 1px solid var(--border-color);
    }

    header .container.sidebar.show-on-mobile {
        opacity: 1;
        visibility: visible;
        display: flex;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    .details-search.hide-on-mobile {
        display: none;
    }

    .shoes-box.show-on-mobile {
        flex: 1;
    }
}