@media screen and (max-width: 768px) {
    /* HEADER */
    .header-container-left {
        flex: 1;
    }

    .header-container-mid.hide-on-mobile{
        display: none;
    }

    .header-container-mid .menu-list.hide-on-mobile {
        display: none;
    }

    .header-container-right .menu-list .hide-on-mobile {
        display: none;
    }

    .container.hamburger-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        font-size: 1.5rem;
        border-left: 1px solid var(--border-color);
    }

    #header .container.sidebar.show-on-mobile {
        opacity: 1;
        visibility: visible;
        display: flex;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    /* ACCOUNT-USER */
    .main-account-body-col {
        width: 100%;
    }

    /* CATALOGUE - INFO */
    .catalogue-info .reset-filter.hide-on-mobile{
        display: none;
    }

    /* CATALOGUE - DETAIL SEARCH */
    .details-search-bar.show-on-mobile {
        outline: 1px solid var(--border-color);
        background-color: white;
        height: 35px;
        width: 95%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 0 1rem;
        border-radius: 0.5rem;
    }

    .details-search-bar p {
        font-size: large;
        font-weight: lighter;
        padding-left: 10px;
    }

    .details-search.sidebar.show-on-mobile {
        opacity: 1;
        visibility: visible;
        right: 0;
        transition: all 0.5s ease-in-out;
    }

    .details-search.hide-on-mobile {
        display: none;
    }

    .shoes-box.show-on-mobile {
        flex: 1;
    }

    .modal-content{
        top: 20%;
        left: 11%;
        width: 80%;
    }

    /* PRODUCT BOX */
    .shoes-box-container {
        flex: 0 0 100%;
    }
}

/* FOR FOOTER-CONTAINER-INFO */
@media screen and (max-width: 526px) {
    .footer-container-info {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 376px) {
}