/* ///////////////////////////////// GLOBAL - BEGIN ///////////////////////////////// */
:root {
    --bg-main-color: #fdfbf5;
    --bg-footer-color: #ececec;
    --theme-color-1: #00ADB5;
    --theme-color-2: #fec333;
    --border-color: #393E46;
    --text-color: #191919;
    --text-color-price: #999;
    --err-text-color: red;
    --stat-pending: #b0b0b0;
    --stat-cancel: #D32F2F;
    --stat-paid: #2E7D32;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}

html {
    scroll-behavior: smooth;
}

main {
    position: relative;
}

/* Chrome, Safari, Edge, Opera  - To hide arrows in input type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - To hide arrows in input type="number" */
input[type=number] {
  -moz-appearance: textfield;
}

a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    cursor: pointer;
}


label {
    font-weight: normal;
}

ul, li {
    list-style: none;
}

button {
    border: none;
    transition: filter 0.25s ease-in-out;
}

button:hover {
    cursor: pointer;
    filter: invert(100%);
}


.hidden {
    display: none !important;
}

.is-active-page {
    z-index: 90 !important;
}

.always-active-page {
    z-index: 1;
}

.hide-on-pc {
    display: none;
}

.form-msg-error {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: var(--err-text-color);
    font-size: 1rem;
    background-color: var(--bg-main-color);
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-container img {
    width: 100%;
    height: auto;
}

.img-container {
    flex: 1;
    max-width: 150px;
    height: auto;
    margin: auto;
    border: 1px solid var(--border-color);
}

.display-username {
    background: linear-gradient(to right, var(--theme-color-2), var(--theme-color-1));
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.container.float-dropdown {
    position: absolute;
    top: 48px;
    background-color: white;
    outline: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 0.5rem;
    transform: scale(0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

*:hover > .container.float-dropdown {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.wrapper {
    position: relative;
    font-family: "Sen", "Rubik", sans-serif;
    background-color: var(--bg-main-color);
    color: var(--text-color);
}

/* ///////////////////////////////// GLOBAL - END ///////////////////////////////// */


/* ///////////////////////////////// HEADER - BEGIN ///////////////////////////////// */
header {
    z-index: 101;
    position: sticky;
    top: 0;
    left: 0;
}

#header.container {
    height: 3rem;
    display: flex;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-main-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#header .menu-list {
    display: flex;
    justify-content: center;
}

.header-logo {
    font-style: italic;
    font-weight: bold;
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    background: linear-gradient(to right, var(--theme-color-2), var(--theme-color-1));
    background-clip: text;
    color: transparent;
}

.header-container-left {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-family: "Audiowide";
}

.header-container-mid {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.header-container-mid li {
    transition: all 0.25s ease-in-out;
}

.header-container-mid li a {
    display: inline-block;
    transition: all 0.25s ease-in-out;
}

.header-container-mid li a:hover {
    letter-spacing: 0.25rem;
    color: var(--theme-color-2);
    transform: scale(1.1);
}

.header-container-mid .menu-list li {
    padding-left: 1rem;
}

.header-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-container-right .menu-list li {
    padding: 0 1rem;
    cursor: pointer;
}

.header-container-right .menu-list li:nth-child(2) {
    position: relative;
}

.header-container-right .menu-list li:nth-child(2) a {
    display: flex;
    column-gap: 0.5rem;
}

.header-container-right .menu-list li:nth-child(2):hover .container.float-dropdown {
    top: 1.25rem;
    transform: scale(1);
}

.header-container-right .menu-list li:nth-child(2):hover .container.float-dropdown .menu-list li a span {
    transition: all 0.25s ease-in-out;
}

.header-container-right .menu-list li:nth-child(2):hover .container.float-dropdown .menu-list li a span:hover {
    color: var(--theme-color-2);
    transform: scale(1.1);
}

.container.hamburger-menu-button {
    display: none;
}

/* ACCOUNT FLOAT DROPDOWN */
.header-container-right .container.float-dropdown {
    z-index: 102;
    transform: scale(0.8);
    right: 0;
}

.header-container-right .container.float-dropdown .menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    text-wrap: nowrap;
}

.header-container-right .container.float-dropdown .menu-list li {
    width: fit-content;
}

.header-container-right .container.float-dropdown .menu-list li a {
    display: flex;
    column-gap: 1rem;
}

.header-container-right .container.float-dropdown .menu-list li a i {
    width: 1rem;
}


/* SIDEBAR */
#header-sidebar.container.sidebar {
    position: fixed;
    top: 3rem;
    right: 0;
    width: 0;
    height: calc(100vh - 3rem);
    overflow-y: scroll;
    background-color: var(--bg-main-color);
    padding: 1rem;
    align-items: flex-start;
    font-weight: bold;
    row-gap: 1rem;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

#header-sidebar.container.sidebar .menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 1.5rem;
}

#header-sidebar.container.sidebar .menu-list li a {
    font-size: max(6vw,min(2rem));
}

#header-sidebar.container.sidebar > .menu-list > li:first-child{
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
}

/* SIDEBAR ACCOUNT DROPDOWN */
#header-sidebar .container.account-dropdown {
    padding: 1rem 0 0 2rem;
    font-weight: normal;
}

/* ///////////////////////////////// HEADER - END ///////////////////////////////// */

/* ///////////////////////////////// USER - BEGIN ///////////////////////////////// */

/* SEARCH-ENGINE */
/* #search-engine.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

#search-engine.container .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-engine.container .form-input-bar {
    width: 100%;
} */

/* LOGIN & SIGN-UP */
#login-user.container {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

#login-user.container.is-active-page, #signup-user.container.is-active-page {
    opacity: 1;
    visibility: visible;
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem 1rem 1rem;
    row-gap: 2rem;
    position: relative;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-main-color);
}

.form-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.main-login-header {
    font-size: 2rem;
    text-align: center;
}

.main-login-body {
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.main-login-body .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.main-login-body .login-form .form-input-bar {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
    transition: all 0.25s ease-in-out;
}

.main-login-body .login-form .form-input-bar:active {
    border-bottom: 1px solid var(--theme-color-2);
}

.main-login-body .login-form button {
    width: 100px;
    font-size: 1.25rem;
    font-style: italic;
    background-color: var(--theme-color-2);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
}

.main-login-footer {
    text-align: center;
}

.main-login-footer a {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.main-login-footer a:hover {
    transform: scale(1.1);
    color: var(--theme-color-2);
    font-weight: bold;
}

/* SIGN-UP */
#signup-user.container {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: calc(100vh - 48px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.2);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

/* ACCOUNT-USER */
#account-user.container, #order-history.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--bg-main-color);
}

.main-account {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    background-color: var(--bg-main-color);
}

.main-account-header {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.main-account-body-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.main-account-body-col h4 {
    font-size: 1.25rem;
    padding-left: 1rem;
}

.main-account-body-col a {
    display: flex;
    column-gap: 0.5rem;
    border-bottom: 1px solid var(--border-color);
}

.main-account-body-col .form-group:last-child button {
    display: flex;
    justify-content: center;
    column-gap: 0.25rem;
    width: 175px;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--theme-color-2);
    font-weight: bold;
    color: var(--text-color);
}

.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem;
}

.form-group:last-child {
    align-items: center;
}

.form-input-bar {
    width: 300px;
    height: 2rem;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: transparent;
    padding: 1rem;
    transition: all 0.25s ease-in-out;
}

.form-input-bar:focus {
    outline: none;
    width: 100%;
    border-color: var(--theme-color-2);
    border-width: 0.25rem;
}

/* ORDER HISTORY */
#order-history.container .main-account .main-account-header {
    text-align: left;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

#order-history.container .main-account .main-account-body-col {
    padding: 0 1rem 1rem;
}

#order-history.container .main-account .main-account-body-col .display-when-empty {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

#order-history.container .main-account .main-account-body-col .display-when-empty a {
    display: inline-block;
}


/* MODAL CONTAINER - ORDER HISTORY */
.modal-container.order-history {
    width: 100%;
    outline: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
}

.modal-container.order-history a {
    border: none;
}

.modal-container.order-history .cart-product-info {
    position: relative;
}

.modal-container.order-history .cart-product-info p:last-child {
    position: absolute;
    bottom: 0;
    right: -45%;
}

.modal-container.order-history .cart-product-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.modal-container.order-history .cart-product-status div:first-child {
    background-color: var(--stat-pending);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: var(--bg-main-color);
}

.modal-container.order-history .cart-product-status button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--theme-color-2);
    font-weight: bold;
}


/* CART */
#cart.container {
    z-index: 102;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

#cart.container .display-when-empty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* For toggle, not related to mobile devices */
#cart.container.show-on-mobile {
    width: 100%;
    visibility: visible;
}

#cart.container .cart-main {
    margin-left: auto;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* row-gap: 1.5rem; */
    background-color: var(--bg-main-color);
    padding: 1rem;
    outline: 1px solid black;
}

.cart-main .cart-header {
    display: flex;
    justify-content: space-between;
}

.cart-main .cart-header p {
    font-size: 2rem;
    font-weight: bold;
}

.cart-main .cart-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.cart-footer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.cart-footer .cart-totalprice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
/*.....................................................*/
/* Checkout Page */
/* Toàn bộ trang thanh toán */
.checkout-page {
    background-color: #f5f5f5; /* Màu nền của trang thanh toán */
    position: fixed; /* Đặt trang thanh toán cố định */
    top: 0; /* Cố định ở trên cùng */
    right: 0; /* Cố định ở bên phải */
    left: 0; /* Cố định ở bên trái */
    bottom: 0; /* Cố định ở dưới cùng */
    z-index: 103; /* Đảm bảo trang thanh toán hiển thị trên các phần tử khác */
    overflow-y: auto; /* Cho phép cuộn dọc nếu nội dung quá dài */
    transform: translateX(100%); /* Ban đầu, trang thanh toán nằm ngoài màn hình (trượt từ phải vào) */
    transition: all 0.5s ease; /* Thêm hiệu ứng chuyển động trượt vào */
}


/* Khi class "active" được thêm vào, trang thanh toán sẽ trượt vào */
.checkout-page.active {
    transform: translateX(0); /* Trả trang về vị trí ban đầu */
}

/* Phần tiêu đề của trang thanh toán */
.checkout-header {
    background-color: var(--white); /* Màu nền trắng */
    text-align: center; /* Căn giữa nội dung */
    padding: 20px; /* Khoảng cách bên trong */
    border-bottom: 1px solid #eee; /* Viền dưới mờ */
    position: sticky; /* Giữ tiêu đề luôn ở trên khi cuộn */
    top: 0; /* Đặt ở trên cùng */
    width: 100%; /* Chiếm hết chiều rộng */
    z-index: 104; /* Đảm bảo tiêu đề hiển thị trên các phần tử khác */
}

/* Nút quay lại ở bên trái của tiêu đề */
.checkout-return {
    float: left; /* Đặt nút về bên trái */
}

/* Nút quay lại có kiểu dáng riêng */
.checkout-return button {
    float: left; /* Nút nằm bên trái */
    border: none; /* Không có viền */
    width: 30px; /* Chiều rộng của nút */
    background-color: transparent; /* Nền trong suốt */
    outline: none; /* Loại bỏ viền khi nhấn */
    font-size: 20px; /* Kích thước font chữ */
    cursor: pointer; /* Hiển thị con trỏ chuột khi di chuyển qua */
    color: var(--text-color); /* Màu chữ */
}

/* Tiêu đề của trang thanh toán */
.checkout-title {
    font-weight: 700; /* Định dạng chữ đậm */
    font-size: 20px; /* Kích thước chữ */
    color: var(--text-color); /* Màu chữ */
}

/* Các phần trong trang thanh toán */
.checkout-section {
    padding-top: 15px; /* Khoảng cách phía trên */
    display: flex; /* Sử dụng Flexbox để bố trí các phần tử */
    column-gap: 20px; /* Khoảng cách giữa các cột */
}

/* Các hàng và cột trong trang thanh toán */
.checkout-row,
.checkout-col-right {
    background-color: var(--white); /* Nền trắng */
    border-radius: 5px; /* Bo góc */
    border: 1px solid rgba(0, 0, 0, 0.15); /* Viền mờ */
    box-shadow: 0px 4px 10px rgb(0 0 0 / 3%); /* Hiệu ứng đổ bóng nhẹ */
    margin-bottom: 20px; /* Khoảng cách dưới các phần tử */
}

/* Cột bên phải (thông tin chi tiết đơn hàng) */
.checkout-col-right {
    border: 1px solid var(--red); /* Viền đỏ */
    padding: 15px; /* Khoảng cách bên trong */
    height: 100%; /* Chiều cao đầy đủ */
}

/* Nhan đề cho các mục trong cột phải */
.checkout-col-right .checkout-content-label {
    font-size: 17px; /* Kích thước chữ */
}

/* Nhóm các phần tử nội dung */
.content-group {
    padding: 15px 20px; /* Khoảng cách bên trong */
}

/* Nhãn cho các nội dung trong phần thanh toán */
.checkout-content-label {
    color: var(--black); /* Màu chữ */
    font-weight: 600; /* Kiểu chữ đậm */
    margin-bottom: 15px; /* Khoảng cách dưới nhãn */
}

/* Phần hiển thị ngày đặt hàng */
.date-order {
    display: flex; /* Sử dụng Flexbox để bố trí */
    justify-content: space-between; /* Căn giữa và phân chia khoảng cách */
    column-gap: 20px; /* Khoảng cách giữa các phần tử */
}

/* Cột bên trái của trang thanh toán */
.checkout-col-left {
    width: 70%; /* Chiếm 70% chiều rộng */
}

/* Cột bên phải (tóm tắt đơn hàng) */
.checkout-col-right {
    width: 30%; /* Chiếm 30% chiều rộng */
}

/* Tiêu đề cho các cột bên trái và phải */
.checkout-col-title {
    padding: 15px 20px 15px 33px; /* Khoảng cách bên trong */
    position: relative; /* Để có thể sử dụng tuyệt đối cho dấu chấm bên trái */
    font-size: 15px; /* Kích thước chữ */
    line-height: 100%; /* Độ cao dòng */
    text-transform: uppercase; /* Chữ in hoa */
    color: #222222; /* Màu chữ */
    font-weight: 700; /* Kiểu chữ đậm */
    border-bottom: 1px solid #E7E7E7; /* Viền dưới mờ */
}

/* Dấu chấm màu đỏ trước tiêu đề của cột */
.checkout-col-title:before {
    background: var(--red); /* Màu nền đỏ */
    width: 4px; /* Chiều rộng dấu chấm */
    height: 17px; /* Chiều cao dấu chấm */
    left: 20px; /* Đặt dấu chấm từ bên trái */
    top: 50%; /* Căn giữa dấu chấm theo chiều dọc */
    transform: translateY(-50%); /* Căn giữa chính xác */
    display: block; /* Hiển thị dấu chấm */
    content: ""; /* Nội dung trống */
    position: absolute; /* Đặt tuyệt đối */
}



/* Khi người dùng hover hoặc chọn nút */
.type-order-btn:hover,
.type-order-btn.active {
    border: 1px solid var(--red); /* Viền đỏ khi hover hoặc chọn */
    background-color: var(--white); /* Nền trắng khi hover hoặc chọn */
    color: var(--text-color); /* Màu chữ thay đổi */
}

/* Biểu tượng trong nút chọn loại đơn hàng */
.type-order-btn i {
    font-size: 22px; /* Kích thước biểu tượng */
    margin-right: 20px; /* Khoảng cách bên phải biểu tượng */
}

/* Phần tổng hóa đơn */
.bill-total {
    margin-bottom: 20px; /* Khoảng cách dưới phần tổng hóa đơn */
}

/*.....................................................*/
.cart-main .cart-footer .cart-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.cart-main .cart-footer .cart-btns button {
    flex: 1;
    text-wrap: nowrap;
    font-size: 1.25rem;
    border: 1px solid var(--border-color);
    border-radius: 32px;
    padding: 1rem;
}

.cart-main .cart-footer .cart-btns button:first-child {
    background-color: var(--bg-main-color);
}

.cart-main .cart-footer .cart-btns button:last-child {
    background-color: var(--theme-color-2);

}

/* CART - MODAL CONTAINER */

.modal-container.cart-product {
    display: flex;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--border-color);
}

.modal-container.cart-product .cart-product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;
    padding-left: 1rem;
}

.modal-container.cart-product .cart-product-info p:first-child {
    font-weight: bold;
}

.modal-container.cart-product .cart-product-info p:last-child {
    font-weight: light;
}

.modal-container.cart-product .cart-product-func {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.modal-container.cart-product .cart-product-func .cart-product-amount {
    width: fit-content;
    display: flex;
    column-gap: 0.5rem;
    outline: 1px solid var(--border-color);
    border-radius: 16px;
    font-size: 1.25rem;
    overflow: hidden;
}

.modal-container.cart-product .cart-product-func .cart-product-amount button {
    padding: 0.25rem;
    background-color: var(--bg-main-color);
    border: none;
}


/* ///////////////////////////////// USER - END ///////////////////////////////// */

/* ///////////////////////////////// CATALOGUE - BEGIN ///////////////////////////////// */
.catalogue-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogue-name {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 20px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid var(--border-color); */
    width: 95%;
    margin-bottom: 20px;
}

.search-bar label {
    position: absolute;
}

.search-bar .form-input-bar {
    padding-left: 2rem;
}


.catalogue-info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    width: 100%;
    padding: 1rem;
    font-size: smaller;
    border: 1px solid var(--border-color);
}

.catalogue-info .sortby {
    position: relative;
}

.catalogue-info .sortby .container.float-dropdown {
    z-index: 1;
    right: 0;
    text-wrap: nowrap;
    padding: 0.5rem 1rem;
}

.catalogue-info .sortby:hover .container.float-dropdown {
    top: 1rem;
}

.catalogue-info .sortby .container.float-dropdown .menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.catalogue-info .sortby:hover .container.float-dropdown .menu-list li a {
    transition: all 0.25s ease-in-out;
}

.catalogue-info .sortby:hover .container.float-dropdown .menu-list li a:hover {
    color: var(--theme-color-2);
    transform: scale(1.1);
}

.main-container {
    position: relative;
    display: flex;
    width: 100%;
}

.main-container .details-search {
    flex: 0 0 30%;
    position: sticky;
    top: 3rem;
    height: 20rem;
    min-height: max-content;
    left: 0;
}

.details-search ul {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    margin: 15px;
    font-size: x-large;
    font-weight: bold;
}

.details-search div:last-child {
    text-align: center;
}

.details-search div:last-child a {
    font-size: 1rem;
    transition: all 0.25s ease-in-out;
}

.details-search div:last-child a:hover {
    letter-spacing: 0.25rem;
    color: var(--theme-color-2);
    transform: scale(1.1);
}

.dropdown {
    margin-bottom: 10px;
}

.dropdown-header li {
    font-weight: bold;
    cursor: pointer;
    list-style-type: none;
    padding: 8px;
    width: 100%;
}

.details-search-bar:hover {
    cursor: pointer;
}

.details-search.sidebar {
    z-index: 100;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 0%;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 2rem 0;
    background-color: var(--bg-main-color);
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.details-search.sidebar a:first-child {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: max(5vw, min(2rem));
}

.details-search.sidebar div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.details-search.sidebar div:last-child button {
    width: fit-content;
    font-size: max((10vw, min(3rem)));
    font-weight: bold;
    padding: 1rem;
    background-color: var(--bg-main-color);
    border: 2px solid var(--border-color);
    transition: all 0.5s ease-in-out;
}

.details-search.sidebar div:last-child button:hover {
    transform: scale(1.1);
}

.details-search.sidebar div:last-child a {
    display: flex;
    column-gap: 0.5rem;
    border-bottom: 1px solid var(--border-color);
}



/* Hide dropdown-menu by default */
.dropdown-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
    background-color: var(--bg-main-color);
}

.dropdown-menu li {
    padding: 8px;
    cursor: pointer;
    font-size: medium;
    font-weight: lighter;
}

.dropdown-menu li:hover {
    background-color: #ddd;
}


/* PRODUCTS BOX */
.shoes-box-container {
    flex: 0 0 70%;
    border: 1px solid var(--border-color);
    border-top: none;
}

#product-container.shoes-box {
    width: 100%;
    float: left;
    background-color: var(--bg-main-color);
    display: flex;
    flex-wrap: wrap;
}

.product-box {
    width: 50%;
    background-color: var(--bg-main-color);
    padding: 20px;
    outline: 1px solid var(--border-color);
    cursor: pointer;
}

/* Image styling */
/* .product-box img {
    width: 100%;
    outline: 1px solid black;
    margin-bottom: 30px;
    transition: all 0.25s ease-in-out;
} */

.product-box .img-container {
    max-width: none;
    overflow: hidden;
}

.product-box .img-container img {
    transition: all 0.5s ease-in-out;
}

.product-box .img-container img:hover {
    transform: scale(1.15);
}

/* Name and price styling */
.product-box .shoes-name {
    font-size: larger;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.product-box .shoes-price {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}

/* MODAL PRODUCT DETAILS
.product-details-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.modal-content {
    background-color: var(--bg-main-color);
    padding: 20px;
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    left: 33%;
    top: 10%;
}

.modal-product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
} */


/* MODAL PRODUCT DETAILS */
.product-details-modal {
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 3rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 3rem);
    background: rgba(0, 0, 0, 0.25);
    padding: 3rem;
}


.modal-content {
    background: var(--bg-main-color); 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    position: relative; 
    overflow-y: auto;

}

.modal-content-container {
    display: flex;
    flex-wrap: wrap;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}

.modal-product-image {
    flex: 0 0 350px;
    outline: 1px solid var(--border-color);
    width: 50%;
}

.modal-product-image img {
    width: 100%;
    object-fit: cover;
}

.product-info {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 30px;
    margin-left: 20px;
    width: 130px;
}

#modalProductName {
    font-size: 2rem;
    text-wrap: wrap;
    font-weight: bold;
}

#modalProductPrice {
    font-size: 20px; 
    color: var(--text-color-price); 
}


.size-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}


.size-button {
    width: 70px;
    padding: 8px 12px; 
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #333;
    background-color: var(--bg-main-color); 
    color: #333; 
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

/* .size-button:hover {
    background-color: #333; 
    color: #fff; 
} */

.add-to-cart-button {
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bolder;
    background-color: var(--theme-color-2); 
    /* border: 1px solid black; */
    border-radius: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px; 
}

/* PHAN-TRANG-BUTTON */
.pagination {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    gap: 5px;
    z-index: 1;
}

.pagination-button {
    padding: 5px 10px;
    background-color: var(--bg-main-color);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.pagination-button:hover {
    font-weight: bold;
    font-size: medium;
}


.pagination-button.active {
    font-weight: bold;
}

.ellipsis {
    padding: 5px 10px;
    color: #999;
}

/* FILTER - BEGIN */

.dropdown-menu * {
    display: block;
}

.dropdown-menu li.filter-option {
    transition: all 0.5s ease-in-out;
}

.dropdown-menu li.filter-option.active {
    letter-spacing: 0.5rem;
    font-weight: bold;
    color: var(--theme-color-2);
    background-color: white;
}

.dropdown-menu .form-input-bar {
    width: auto;
}

/* FILTER - END */

/* ///////////////////////////////// CATALOGUE - END ///////////////////////////////// */

/* ///////////////////////////////// FOOTER - BEGIN ///////////////////////////////// */

/* PRE-FOOTER */
#prefooter.container {
    display: flex;
    overflow-x: auto !important;
    column-gap: 1rem;
    padding: 1rem 1rem;
}

#prefooter.container .prefooter-div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    min-width: min-content;
}

#prefooter.container .prefooter-div i {
    font-size: 2rem;
}


/* FOOTER */
#footer.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--bg-footer-color);
    border-top: 0.5rem solid var(--theme-color-2);
    border-image: linear-gradient(to right, var(--theme-color-2), var(--theme-color-1)) 1;
}

.footer-title {
    width: fit-content;
    border-bottom: 0.5rem solid var(--theme-color-2);
    border-image: linear-gradient(to right, var(--theme-color-2), var(--bg-footer-color)) 1;
}

.footer-logo {
    font-family: "Audiowide";
    font-size: 12vw;
    text-wrap: nowrap;
    text-align: center;
    font-style: italic;
}

.footer-logo a {
    background: linear-gradient(to right, var(--theme-color-2), var(--theme-color-1));
    background-clip: text;
    color: transparent;
}

.footer-container-info {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-container-info .menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-container-info .menu-list li a:hover {
    outline: 1px solid var(--border-color);
    outline-offset: 0.25rem;
    border-radius: 16px;
}

.footer-container-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-container-contacts .contact-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1rem;
}

.footer-container-contacts .contact-div .contact-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--bg-main-color);
    background-color: var(--theme-color-2);
    padding: 0.75rem;
    border-radius: 50%;
}

.footer-container-media .menu-list {
    display: flex;
    justify-content: flex-end;
    column-gap: 2rem;
}

.footer-container-media .menu-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

/* ///////////////////////////////// FOOTER - END ///////////////////////////////// */