/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.responsive {
    display: none;
}

/* HEADER */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: #ECDFCC;
}

#header-logo {
    height: 100%;
    cursor: pointer;
}

#header-logo p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    height: 100%;
}

#header-nav {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#header-nav div {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    background-color: #ECDFCC;
    cursor: pointer;
}

#menu-account {
    flex: 1;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    height: 100%;
    cursor: pointer;
}

#header i {
    font-size: 1.25em;
}

/* CONTENT */

#content-wrapper {
    flex: 3;
    margin-top: 4em;
    background-color: #FCFAEE;
}


/* FOOTER */

#footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ECDFCC;
    font-weight: lighter;
}

#footer-info {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    column-gap: 20px;;
}

#footer-policy {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: ;
}

#footer-policy p {
    margin-left: auto;
    width: fit-content;
    font-size: large;
}

#footer-contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: large;
}

#footer-contacts div {
    display: flex;
    gap: 10px;
}

#footer-contacts i,p {
    cursor: pointer;
}

#footer-logo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo p {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: xx-large;
}

/* EFFECT */
#header-nav div:hover {
    filter: brightness(0.85);
}

/* RESPONSIVE */

@media screen and (max-width: 750px) {
    /* HEADER */
    #header {
        gap: 0;
    }
    #header-logo {
        display: flex;
        justify-content: center;
        flex: 4;
    }
    #header-logo p {
        margin: 0;
    } 
    #header-nav {
        display: none;
    }
    #header-responsive {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    #header-nav-responsive {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    #header-nav-responsive div {
        font-size: 5em;
    }
    #header-nav-responsive div p {
        width: fit-content;
        cursor: pointer;
    }
    #menu-account {
        display: none;
    }
    #menu-account-responsive {
        display: flex;
        justify-content: left;
        padding-left: 20px;
        gap: 20px;
    }
    #menu-account-responsive i {
        font-size: 2em;
        cursor: pointer;
    }
    #header-responsive-button {
        flex: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
    }
}