/* VARIABLES */
:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --tetriary-color: #EEEEEE;
}
/* GLOBAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.flex-container-row {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

/* BODY - WRAPPER */

body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#body-wrapper {
    width: 100%;
}

/* HEADER */

#header {
    z-index: 10;
    background-color: whitesmoke;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    border-bottom: 5px solid black;
}

#header-logo-div {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo {
    text-wrap: nowrap;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}


#header-nav {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
    font-weight: bold;
}

#header-nav div {
    cursor: pointer;
    font-size: 1.25em;
    transition: color 0.25s ease-in-out, transform 0.5s ease-in-out;
}

#header-account {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

#header-account i, #header-menu-responsive i {
    font-size: 1.5em;
    cursor: pointer;
}

#header-menu-responsive {
    display: none;
}

/* CONTENT */
#content {
    width: 100%;
}

/* CONTENT - HOMEPAGE */

#homepage {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* CONTENT - HOMPAGE - HEADER */
#homepage-header .img-container {
    position: relative;
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("/img/homepage-main-1.webp");
    background-position: center;
    background-size: cover;
}

.img-container p {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #EEEEEE;
    text-align: center;
    text-wrap: wrap;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

/* CONTENT - HOMEPAGE - INFO */

#homepage-info {
    flex-wrap: wrap;
    align-items: space-evenly;
    gap: 1rem;
    background-color: goldenrod;
    color: var(--tetriary-color);
    font-weight: bold;
}

#homepage-info > div {
    flex: 1 1 10rem;
    row-gap: 0.5rem;
    min-width: 15rem;
    padding: 1rem;
    text-align: center;
    text-wrap: nowrap;
}

/* FOOTER */
#footer {
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    color: whitesmoke
}

#footer-nav {
    justify-content: left;
    column-gap: 2rem;
    row-gap: 1rem;
    letter-spacing: 0.15rem;
}

#footer-title {
    border-bottom: 0.5rem solid var(--secondary-color);
    margin-right: auto;
    max-height: fit-content;
    border-bottom: 5px solid;
}

#footer-nav p {
    width: fit-content;
}

#footer-info, #footer-policy {
    gap: 0.75rem;
}

#footer-info p, #footer-policy p {
    width: fit-content;
}

#footer-contacts {
    column-gap: 0.5rem;
}

#footer-contacts > div {

    gap: 0.5rem;
}

#footer-media {
    gap: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
}

#footer-logo {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

/* EFFECT - HEADER */
#header-nav div:hover {
    color: goldenrod;
    transform: scale(1.1);
}

/* EFFECT - FOOTER */
#footer-info p:hover, #footer-policy p:hover, #footer-media i:hover {
    outline: 2px solid var(--tetriary-color);
    outline-offset: 0.25rem;
    border-radius: 1rem;
}


/* RESPONSIVE */
@media screen and (max-width: 912px) {
    /* HEADER */
    #header-logo-div {
        flex: 3;
    }
    #header-nav {
        display: none;
        background-color: var(--tetriary-color);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        top: 3rem;
        width: 100%;
        height: 100vh;
    }
    #header-nav div {
        font-size: 2rem;
        margin-left: 2rem;
    }
    #header-account {
        flex: 1.5;
    }
    #header-menu-responsive {
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
