/* VARIABLES */
:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --tetriary-color: #EEEEEE;
}
/* GLOBAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}

/* BODY - WRAPPER */

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* HEADER */

#header {
    z-index: 10;
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    border-bottom: 5px solid black;
}

#header-logo-div {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo {
    font-style: italic;
    font-weight: 900;
    cursor: pointer;
}


#header-nav {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
    font-weight: bold;
}

#header-nav div {
    cursor: pointer;
    font-size: 1.25em;
    transition: color 0.25s ease-in-out, transform 0.5s ease-in-out;
}

#header-account {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

#header-account i {
    font-size: 1.5em;
    cursor: pointer;
}

#header-account i:last-child {
    display: none;
}

/* CONTENT */
#content {
    width: 100%;
    margin-top: 3em;
}

/* CONTENT - HOMEPAGE */

#homepage {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* CONTENT - HOMPAGE - HEADER */
.img-container {
    width: 100%;
    position: relative; 
    display: block;
}

.img-container img {
    width: 100%;
    height: auto;
}

.img-container p {
    color: #EEEEEE;
    text-align: center;
    font-weight: 900;
    font-size: 1rem;
    width: max-content;
    letter-spacing: 0.1rem;
}

.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.text-overlay {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CONTENT - HOMEPAGE - INFO */

#homepage-info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 1rem;
    background-color: goldenrod;
    color: var(--tetriary-color);
    font-weight: bold;
}

#homepage-info > div {
    flex: 1 1 10rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    min-width: 15rem;
    padding: 1rem;
    text-align: center;
    text-wrap: nowrap;
}

/* FOOTER */
#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    color: whitesmoke
}

#footer-nav {
    display: flex;
    justify-content: left;
    column-gap: 2rem;
    row-gap: 1rem;
    letter-spacing: 0.15rem;
}

#footer-title {
    border-bottom: 0.5rem solid var(--secondary-color);
    margin-right: auto;
    max-height: fit-content;
    border-bottom: 5px solid;
}

#footer-nav p {
    width: fit-content;
}

#footer-info, #footer-policy {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 0.5rem;
}

#footer-contacts div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


#footer-media {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
}

#footer-logo {
    font-size: 6em;
    font-style: italic;
    text-align: center;
}

/* EFFECT - HEADER */
#header-nav div:hover {
    color: goldenrod;
    transform: scale(1.1);
}

/* EFFECT - FOOTER */
#footer-info p:hover, #footer-policy p:hover, #footer-media i:hover {
    width: fit-content;
    outline: 2px solid var(--tetriary-color);
    outline-offset: 0.25rem;
    border-radius: 1rem;
}


/* RESPONSIVE */
@media screen and (max-width: 50rem) {
    /* HEADER */
    #header-logo-div {
        flex: 4;
    }
    #header-nav {
        display: none;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;         */
        position: absolute;
        top: 3em;
        left: 0;
        width: 100%;
    }
    #header-nav div {
        font-size: 5em;
    }
    #header-account {
        flex: 1;
    }
    #header-account i:nth-child(2), i:nth-child(3) {
        display: none;
    }
    #header-account i:last-child {
        display: inline-block;
    }

}
