/* VARIABLES */
:root {
    --primary-color: #00ADB5;
    --secondary-color: #393E46;
}
/* GLOBAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.responsive {
    display: none;
}

/* BODY - WRAPPER */

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#body-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* HOMEPAGE - HEADER */

#header {
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    border-bottom: 5px solid black;
}

#header-logo-div {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo {
    font-style: italic;
    font-weight: 900;
    cursor: pointer;
}


#header-nav {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
    font-weight: bold;
}

#header-nav div {
    cursor: pointer;
    font-size: 1.25em;
    background-color: whitesmoke;
    transition: color 0.25s ease-in-out, transform 0.5s ease-in-out;
}

#header-account {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

#header-account i {
    font-size: 1.5em;
    cursor: pointer;
}

#header-account i:last-child {
    display: none;
}

/* CONTENT */
#content {
    margin-top: 3em;
    background-color: beige;
}

/* FOOTER */
#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--primary-color);
    color: whitesmoke
}

#footer-nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    column-gap: 2rem;
    row-gap: 1rem;
}

#footer-nav h2 {
    margin-right: auto;
    max-height: fit-content;
    border-bottom: 5px solid;
}

#footer-nav p {
    width: fit-content;
}

#footer-info, #footer-policy {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#footer-contacts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#footer-contacts div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


#footer-media {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
}

#footer-logo {
    font-size: 3em;
    font-style: italic;
    text-align: center;
}

/* EFFECT - HEADER */
#header-nav div:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

/* EFFECT - FOOTER */
#footer-info p:hover, #footer-policy p:hover, #footer-media i:hover {
    outline: 2px solid var(--secondary-color);
    outline-offset: 0.25rem;
    border-radius: 1rem;
}


/* RESPONSIVE */
@media screen and (max-width: 50rem) {
    /* HEADER */
    #header-logo-div {
        flex: 4;
    }
    #header-nav {
        display: none;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;         */
        position: absolute;
        top: 3em;
        left: 0;
        width: 100%;
    }
    #header-nav div {
        font-size: 5em;
    }
    #header-account {
        flex: 1;
    }
    #header-account i:nth-child(2), i:nth-child(3) {
        display: none;
    }
    #header-account i:last-child {
        display: inline-block;
    }

}
