/* VARIABLES */
:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --tertiary-color: #EEEEEE;
}
/* GLOBAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 2px solid black; */
}
  
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
  
ul, li {
    list-style: none;
}
  
.flex-container-row {
    display: flex;
}
  
.flex-container-col {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
}

.is-clickable {
    cursor: pointer;
}

/* BODY - WRAPPER */
  
body {
    width: 100%;
    font-family: "Sen", "Rubik", sans-serif;
}
  
#body-wrapper {
    width: 100%;
}
  
/* BODY - HEADER */
#body-header {
    z-index: 1;
    background-color: whitesmoke;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid black;
}

#body-header div {
    height: 100%;
    align-items: center;
}

#body-header-logo-container {
    padding: 0 1rem;
}

#body-header-logo {
    text-wrap: nowrap;
    font-style: italic;
}

#body-header-nav {
    flex: 2;
    column-gap: 1rem;
    padding-left: 1rem;
    flex-grow: 2;
    font-weight: bold;
}

.body-header-link {
    transition: all 0.25s ease-in-out;
}

.body-header-link:hover {
    transform: scale(1.1);
    color: goldenrod;
}

#body-header-account {
    justify-content: flex-end;
    column-gap: 1rem;
    padding: 0 1rem;
}

#toggle-sidebar-div {
    padding: 0 1rem;
    border-left: 1px solid black;
}

#body-header #body-header-sidebar {
    position: fixed;
    top: 3rem;
    left: 100%;
    width: 100%;
    height: calc(100vh - 3rem);
    background-color: var(--tertiary-color);
    padding: 1rem;
    align-items: flex-start;
    font-weight: bold;
    row-gap: 1rem;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#body-header #body-header-sidebar .flex-container-row {
    flex: 0;
    margin-top: auto;
    column-gap: 1.5rem;
}

#body-header #body-header-sidebar .flex-container-row a {
    font-size: 1.5rem;
}

#body-header #body-header-sidebar a {
    font-size: 3rem;    
}

/* CONTENT */

/* CODE HERE */
/* CODE HERE */
/* CODE HERE */

/* CONTENT */

/* BODY - PREFOOTER */

#body-prefooter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    justify-content: space-evenly;
    background-color: goldenrod;
    color: var(--tertiary-color);
}

#body-prefooter > div {
    padding: 0.25rem;
    text-align: center;
}


/* BODY - FOOTER */
#body-footer {
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

#body-footer-title {
    border-bottom: 3px solid var(--tertiary-color);
    width: fit-content;
}

#body-footer-info {
    flex-wrap: wrap;
    gap: 1rem
}

#body-footer-nav {   
    flex-wrap: wrap;
    gap: 1rem;
}

#body-footer-nav * {
    gap: 1rem
}

#body-footer-contacts {
    gap: 1rem;
}

#body-footer-contacts p span {
    margin-right: 1rem;
}

#body-footer-logo {
    text-align: center;
}

#body-footer-media {
    gap: 1rem;
    font-size: 1.5rem;
    justify-content: flex-end;
}

#body-footer-nav li:hover, #body-footer-media i:hover {
    outline: 1px solid var(--tertiary-color);
    outline-offset: 0.25rem;
    border-radius: 1rem;
}

/* RESPONSIVE FOR PC */
@media screen and (min-width: 769px) {
    .hide-on-pc {
        display: none;
    }
}

/* RESPONSIVE TABLET*/
@media screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
    /* BODY - HEADER */
    #body-header-logo-container {
        flex: 1;
    }

    #toggle-sidebar-div .show-on-mobile {
        display: flex;
        border-left: 1px solid black;
    }

    #body-header .show-on-mobile#body-header-sidebar {
        opacity: 1;
        visibility: visible;
        display: flex;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    #body-header #body-header-sidebar a{
        font-size: 3rem;
    }

    /* HOMEPAGE - INFO */
    #homepage-info > div {
        flex: 0 0 100%;
    }
}

/* RESPONSIVE LARGE MOBILE */ 
@media screen and (max-width: 425px) {
    /* BODY - HEADER */
    #body-header #body-header-sidebar a {
        font-size: 2rem;
    }
    /* HOMEPAGE - INFO */
    #homepage-info {
        grid-template-columns: repeat(2,2fr);
        font-size: 0.75rem;
    }

    #homepage-info > div {
        font-weight: light;
    }

    /* BODY - FOOTER */
    #body-footer-nav {
        flex-direction: column;
    }
    #body-footer-nav a {
        font-size: 1rem;
    }
}

/* RESPONSIVE MEDIUM MOBILE */
@media screen and (max-width: 375px) {

}

/* RESPONSIVE SMALL MOBILE */
@media screen and (max-width: 320px) {
}